@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:hover,
a {
  text-decoration: none;
}

:focus {
  outline: 0;
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3E2DAB), color-stop(93.89%, #332686));
  background: linear-gradient(180deg, #3E2DAB 0%, #332686 93.89%);
  background-attachment: fixed;
}

body.form-page-bg {
  background: url(../images/form-page-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 0 32px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

header {
  background: linear-gradient(237.29deg, #6421A7 4.3%, #314EBB 97.52%);
  border-bottom: 1px solid #3861FB;
  -webkit-box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.35);
}

.header-content {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-block .logo img {
  height: 44px;
}

h1,
.h1 {
  display: block;
  font-weight: bold;
  font-size: 26px;
  line-height: 67px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  h1,
  .h1 {
    font-size: 20px;
    line-height: 30px;
  }
}

h2,
.h2 {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 67px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  h2,
  .h2 {
    font-size: 18px;
    line-height: 26px;
  }
}

.main-menu {
  z-index: 99;
}

@media (max-width: 992px) {
  .main-menu {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.71%, #3DD1FF), color-stop(94.24%, #A839FF));
    background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
    -webkit-box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2px;
    display: none;
    z-index: 99;
    position: absolute;
    top: 76px;
    left: 10px;
    width: calc(100% - 20px);
  }
}

@media (max-width: 992px) {
  .main-menu__content {
    padding: 25px;
    border-radius: 4px;
    background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
  }
}

.main-menu.open {
  display: block;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .main-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
}

.main-menu ul li {
  position: relative;
  height: 66px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
}

@media (max-width: 992px) {
  .main-menu ul li {
    height: auto;
    margin: 0 0 20px 0;
  }
}

.main-menu ul li:before {
  content: "";
  width: 5px;
  height: 5px;
  background: #B1B6FF;
  position: absolute;
  right: -62.5px;
  top: calc(50% -2.5px);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .main-menu ul li:before {
    display: none;
  }
}

.main-menu ul li:last-child:before {
  display: none;
}

.main-menu ul li.active {
  border-bottom: 2px solid #ffe664;
}

.main-menu ul li.active a {
  color: #ffe664;
}

.main-menu ul li a {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-menu ul li a:hover {
  color: #ffe664;
}

.notifications {
  position: relative;
  margin-bottom: -8px;
}

.notifications .icon {
  width: 20px;
  height: 22px;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.notifications span {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #04b4ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
}

.notifications:hover .icon {
  color: #ffe664;
}

.logined {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  margin-left: 42px;
}

.logined__avatar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  border: 1px solid #04b4ff;
}

.logined__avatar:before {
  content: "";
  width: 10px;
  height: 5px;
  background: url(../images/arrow-bottom.svg);
  position: absolute;
  right: -20px;
  top: calc(50% - 2.5px);
}

.logined__avatar img {
  height: 32px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  width: 210px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.71%, #3DD1FF), color-stop(94.24%, #A839FF));
  background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
  -webkit-box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px;
  display: none;
  z-index: 99;
}

.dropdown-menu__content {
  padding: 25px;
  border-radius: 4px;
  background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
}

.dropdown-menu__name {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.dropdown-menu__id {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 20px;
}

.dropdown-menu__id span {
  font-weight: 400;
}

.btn-create {
  margin-bottom: 30px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #63D0FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.21);
          box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  background-color: #04b4ff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 30px;
  height: 29px;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: #58CDFF;
  border-color: #38ACFF;
}

.btn.disabled, .btn:disabled {
  background: #98A6AC;
  border: 2px solid #EBEBEB;
  pointer-events: none;
}

.btn--fixed {
  width: 150px;
  padding: 0;
}

.btn--full {
  width: 100%;
  padding: 0;
}

.btn--lg {
  height: 36px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn--xl {
  height: 56px;
  font-size: 16px;
}

.btn--empty {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}

.btn--empty:hover {
  background-color: #fff;
  color: #04b4ff;
  border-color: #fff;
}

main {
  background: url(../images/main-bg.png) 50% 100% no-repeat;
  background-attachment: fixed;
  padding: 30px 0 50px 0;
  min-height: calc(100vh - 132px);
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content aside {
  position: relative;
  width: 250px;
}

@media (max-width: 1200px) {
  .main-content aside {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .main-content aside {
    display: none;
    width: 100%;
  }
}

.side-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  background: linear-gradient(212.21deg, #502CB7 2.83%, #2846B6 43.21%);
  border: 1px solid #3861FB;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
}

@media (max-width: 992px) {
  .side-menu {
    position: relative;
    top: 0;
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 40px;
    border-radius: 0;
  }
}

.side-menu:before {
  content: "";
  width: 48px;
  height: 2px;
  background: #ffe664;
  position: absolute;
  top: 0;
  left: calc(50% - 24px);
  display: none;
}

@media (max-width: 992px) {
  .side-menu:before {
    display: block;
  }
}

.menu-item {
  height: 125px;
  border-bottom: 1px solid #3861FB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (max-width: 1200px) {
  .menu-item {
    height: 100px;
  }
}

@media (max-width: 992px) {
  .menu-item {
    height: auto;
    margin-bottom: 20px;
    border: 0;
  }
}

.menu-item.active:before {
  content: "";
  width: 48px;
  height: 2px;
  background: #ffe664;
  position: absolute;
  bottom: 0;
  left: calc(50% - 24px);
  display: block;
}

@media (max-width: 992px) {
  .menu-item.active:before {
    display: none;
  }
}

.menu-item.active .menu-item__icon, .menu-item:hover .menu-item__icon {
  border-color: #ffe664;
  background: #5FA9FF;
}

.menu-item.active .menu-item__icon .icon, .menu-item:hover .menu-item__icon .icon {
  color: #ffe664;
}

.menu-item.active .menu-item__title, .menu-item:hover .menu-item__title {
  color: #ffe664;
}

.menu-item:last-child {
  border-bottom: 0;
}

.menu-item__icon {
  width: 46px;
  height: 46px;
  border: 2px solid #5FA9FF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .menu-item__icon {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .menu-item__icon {
    display: none;
  }
}

.menu-item__icon .icon {
  color: #8BD5FF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu-item__title {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content {
  width: calc(100% - 276px);
}

@media (max-width: 1200px) {
  .content {
    width: calc(100% - 230px);
  }
}

@media (max-width: 992px) {
  .content {
    width: 100%;
  }
}

.profile-main {
  width: 100%;
  background: linear-gradient(216.68deg, #502CB7 -67.99%, #2846B6 94.28%);
  border: 1px solid #3861FB;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 30px 48px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .profile-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 10px;
  }
}

.profile-main__left {
  width: 120px;
  height: 120px;
  position: relative;
}

@media (max-width: 767px) {
  .profile-main__left {
    margin-bottom: 20px;
  }
}

.profile-main__avatar {
  width: 120px;
  height: 120px;
  border: 1px solid #5FA9FF;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
}

.profile-main__avatar img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-main__social {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-main__social:hover {
  background: #04b4ff;
}

.profile-main__social:hover .icon {
  color: #fff;
}

.profile-main__social .icon {
  width: 19px;
  height: 9px;
  color: #1478FC;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-main__content {
  width: calc(100% - 165px);
}

@media (max-width: 767px) {
  .profile-main__content {
    width: 100%;
  }
}

.profile-main__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  display: block;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .profile-main__name {
    text-align: center;
    font-size: 16px;
  }
}

.profile-main__nickname {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
  display: block;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .profile-main__nickname {
    text-align: center;
    font-size: 14px;
  }
}

.profile-main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.profile-main__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .profile-main__btns {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 374px) {
  .profile-main__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-main__btns .btn {
  margin-right: 22px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .profile-main__btns .btn {
    margin: 0 10px 10px 10px;
  }
}

@media (max-width: 374px) {
  .profile-main__btns .btn {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.profile-main__dates {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .profile-main__dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .profile-main__dates {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.profile-main__date-item {
  display: block;
  text-align: right;
  color: #fff;
  font-size: 13px;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .profile-main__date-item {
    text-align: left;
    margin-right: 20px;
  }
}

.profile-main__date-item:last-child {
  margin-bottom: 0;
}

.profile-main__date-item span {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.profile-accounts {
  background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
  border: 1px solid #3861FB;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 16px 40px 6px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .profile-accounts {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.profile-accounts__title {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.profile-accounts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-accounts__content.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.acccount-item {
  width: 51px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 16px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 10px;
}

.acccount-item:hover {
  background: rgba(0, 0, 0, 0.4);
}

.acccount-item img {
  width: 22px;
  height: 22px;
}

.add-account {
  font-weight: 800;
  font-size: 26px;
  height: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.add-account:hover {
  color: #ffe664;
}

footer {
  background: linear-gradient(300.35deg, #6421A7 -23.75%, #314EBB 172.08%);
  border-top: 1px solid #3861FB;
}

.footer-content {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

@media (max-width: 992px) {
  .footer-content {
    height: auto;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.copy {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .copy {
    margin-bottom: 15px;
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .footer-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-links a {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-links a:hover {
  color: #ffe664;
}

.footer-links .sep {
  display: block;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 26px;
}

@media (max-width: 767px) {
  .footer-links .sep {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin: 5px 0;
  }
}

.game-systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .game-systems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.game-system {
  border-radius: 7px;
  width: calc(100%/3 - 22px);
  padding: 1px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1.71%, #3DD1FF), color-stop(94.24%, #A839FF));
  background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1200px) {
  .game-system {
    width: calc(100%/3 - 10px);
  }
}

@media (max-width: 767px) {
  .game-system {
    width: 100%;
    margin-bottom: 20px;
  }
}

.game-system.active p {
  display: none;
}

.game-system.active .game-system__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-system.active .game-system__status--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-system.banned {
  padding: 0;
  border: 1px solid #3861FB;
}

.game-system.banned .game-system__status--banned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-system.banned p {
  display: none;
}

.game-system.banned .game-system__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-system.join .game-system__status--join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.game-system.join .game-system__date {
  display: none;
}

.game-system__info {
  height: 220px;
}

@media (max-width: 767px) {
  .game-system__info {
    height: auto;
    margin-bottom: 20px;
  }
}

.game-system__content {
  padding: 30px 20px;
  background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
  border-radius: 6px;
  height: 100%;
}

.game-system__logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.game-system__logotype img {
  height: 75px;
}

.game-system__title {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 20px;
  min-height: 45px;
}

@media (max-width: 767px) {
  .game-system__title {
    min-height: auto;
  }
}

.game-system p {
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #FFFFFF;
  height: 153px;
  overflow: hidden;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .game-system p {
    height: auto;
    text-align: center;
  }
}

.game-system__stats {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 767px) {
  .game-system__stats {
    margin-bottom: 20px;
  }
}

.game-system__stat-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px;
}

.game-system__stat-item .icon {
  display: block;
  text-align: center;
}

.game-system__stat-item .icon img {
  height: 38px;
}

.game-system__stat-item-number {
  font-weight: 600;
  font-size: 20px;
  display: block;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.game-system__stat-item-title {
  display: block;
  font-weight: 500;
  font-size: 11px;
  color: #FFFFFF;
}

.game-system__date {
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.game-system__date span {
  font-size: 14px;
  font-weight: 600;
  color: #ffe664;
}

.game-system__status {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-system__status--active {
  color: #80FF45;
  font-weight: 600;
  font-size: 12px;
}

.game-system__status--banned {
  color: #FF5353;
  font-weight: 600;
  font-size: 12px;
}

.game-system__status--banned .icon {
  top: -3px;
}

.game-system__status--join {
  font-weight: 600;
  font-size: 12px;
  color: #04b4ff;
}

.game-system__status--join .icon {
  font-weight: bold;
  font-size: 20px;
  top: 1px;
}

.game-system__status .icon {
  position: relative;
  margin-right: 10px;
}

.game-system__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  cursor: pointer;
  z-index: 111;
  margin-left: 20px;
  top: -4px;
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }
}

.burger.open:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 14px;
  height: 4px;
}

.burger.open:after {
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 4px;
}

.burger.open span:before {
  display: none;
}

.burger:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 30px;
  height: 6px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}

.burger:after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 30px;
  height: 6px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
}

.burger span {
  position: relative;
  display: block;
  width: 30px;
  height: 26px;
}

.burger span:before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 30px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
}

.form-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

@media (max-width: 992px) {
  .form-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-page__social {
  background: url(../images/dot.png) 0 0 repeat-x;
  padding-top: 30px;
  margin-top: 10px;
}

.form-page__social-title {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.5%;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.form-page button {
  margin-bottom: 30px;
}

.form-page__left {
  width: calc(100%/2);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 20px);
}

@media (max-width: 992px) {
  .form-page__left {
    height: auto;
    width: 100%;
    padding: 80px 30px;
    min-height: auto;
    max-height: auto;
  }
}

.form-page__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-page__bottom .checkbox {
  margin-bottom: 10px;
}

.form-page .forgot-password {
  font-weight: 400;
  font-size: 14px;
  line-height: 129.5%;
  color: #FFFFFF;
  text-decoration: underline;
  margin-bottom: 10px;
}

.form-page .forgot-password:hover {
  text-decoration: none;
}

.form-page__scroll {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0 70px 30px;
}

@media (min-width: 993px) {
  .form-page__scroll {
    max-height: calc(100vh - 20px);
  }
}

@media (max-width: 992px) {
  .form-page__scroll {
    height: auto;
    padding: 80px 30px;
  }
}

.form-page__form {
  width: calc(100%/2);
  height: 100%;
  background: linear-gradient(180.24deg, rgba(100, 33, 167, 0.8) 29%, rgba(52, 87, 217, 0.8) 115.77%);
  -webkit-box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  min-height: calc(100vh - 20px);
  overflow: hidden;
}

@media (min-width: 993px) {
  .form-page__form {
    max-height: calc(100vh - 20px);
  }
}

@media (max-width: 992px) {
  .form-page__form {
    height: auto;
    width: 100%;
    min-height: auto;
  }
}

.form-page__logotypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.form-page__title {
  font-weight: 600;
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-page__title {
    font-size: 24px;
  }
}

.form-page__title-small {
  font-size: 22px;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  .form-page__title-small {
    font-size: 16px;
  }
}

.form-page__form-title {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-page__form-title {
    font-size: 24px;
  }
}

.form-page__form-title-small {
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-page__form-title-small {
    font-size: 18px;
  }
}

.form-page__form-title-sm {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-page__form-title-sm {
    font-size: 14px;
  }
}

.form-page__content {
  max-width: 445px;
  width: 100%;
}

.form-page__welcome {
  font-weight: bold;
  font-size: 42px;
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
}

.form-page__welcome span {
  display: block;
  font-weight: 500;
  font-size: 24px;
  padding-top: 10px;
}

.back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.5%;
  color: #FFFFFF;
}

.back .icon {
  position: relative;
  bottom: -1px;
  margin-right: 10px;
}

.logo-item {
  width: 105px;
  height: 112px;
  background: url(../images/border-logo.svg);
  background-size: 105px 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 30px;
}

@media (max-width: 768px) {
  .logo-item {
    margin: 0 15px;
    width: 90px;
    background-size: 90px auto;
    height: 96px;
  }
}

.logo-item img {
  max-width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-group {
  margin-bottom: 28px;
}

.form-group input {
  background: #F3F3F3;
  border-radius: 3px;
  width: 100%;
  height: 56px;
  font-weight: 500;
  font-size: 18px;
  color: #1D1D1D;
  padding: 0 22px;
  border: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.form-group input:focus {
  background: #fff;
}

.form-group .field-icon {
  float: right;
  position: absolute;
  right: 20px;
  top: calc(50% - 8px);
  cursor: pointer;
  z-index: 2;
}

.form-group .field-icon svg {
  width: 23px;
  height: 16px;
  color: #6c3eb8;
}

.form-group .field-icon.toggle-password svg {
  color: #858585;
}

.form-group .password {
  position: relative;
}

.form-group .password input {
  padding-right: 45px;
}

.form-group label {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.checkbox {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox a {
  color: #3761AA;
}

.checkbox a:hover {
  text-decoration: underline;
}

.checkbox [type="checkbox"]:not(:checked), .checkbox [type="checkbox"]:checked {
  position: absolute;
  left: 0;
  opacity: 0.01;
}

.checkbox [type="checkbox"]:not(:checked) + label,
.checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129.5%;
  color: #FFFFFF;
  cursor: pointer;
}

.checkbox [type="checkbox"]:not(:checked) + label:before,
.checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  width: 24px;
  height: 24px;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
  -webkit-transition: all .275s;
  transition: all .275s;
  border-radius: 3px;
}

.checkbox [type="checkbox"]:not(:checked) + label:after,
.checkbox [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background: #fff url(../images/check.svg) 50% 50% no-repeat;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 3px;
}

.checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

.checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
}

.mCSB_scrollTools {
  top: 10px;
  height: calc(100% - 20px);
}

@media (max-width: 992px) {
  .mCSB_scrollTools {
    display: none !important;
  }
}
/*# sourceMappingURL=styles.css.map */