@import "mixins/_breakpoints";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

$blue: rgba(4, 180, 255, 1);
$yellow: rgba(255, 230, 100, 1);

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

a:hover,
a {
  text-decoration: none
}

:focus {
  outline: 0
}

ul {
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(180deg, #3E2DAB 0%, #332686 93.89%);
  background-attachment: fixed;

  &.form-page-bg {
    background: url(../images/form-page-bg.jpg) 50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1264px;
  padding: 0 32px;
  margin: 0 auto;

  @include breakpoint($maxWidth: 767px) {
    padding: 0 15px;
  }
}


header {
  background: linear-gradient(237.29deg, #6421A7 4.3%, #314EBB 97.52%);
  border-bottom: 1px solid #3861FB;
  box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.35);
}

.header-content {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // .header-content__right

  &__right {
    display: flex;
    align-items: center;
  }
}

.logo-block {
  .logo {
    img {
      height: 44px;
    }
  }
}

h1,
.h1 {
  display: block;
  font-weight: bold;
  font-size: 26px;
  line-height: 67px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;

  @include breakpoint($maxWidth: 767px) {
    font-size: 20px;
    line-height: 30px;
  }
}

h2,
.h2 {
  display: block;
  font-weight: bold;
  font-size: 22px;
  line-height: 67px;
  margin-bottom: 20px;
  text-align: center;
  color: #FFFFFF;

  @include breakpoint($maxWidth: 767px) {
    font-size: 18px;
    line-height: 26px;
  }
}



.main-menu {
  z-index: 99;

  @include breakpoint($maxWidth: 992px) {
    background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
    box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2px;
    display: none;
    z-index: 99;
    position: absolute;
    top: 76px;
    left: 10px;
    width: calc(100% - 20px);
  }

  &__content {
    @include breakpoint($maxWidth: 992px) {
      padding: 25px;
      border-radius: 4px;
      background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
    }

  }

  &.open {
    display: block;
  }



  ul {
    display: flex;
    align-items: center;

    @include breakpoint($maxWidth: 992px) {
      flex-direction: column;
      margin-bottom: 20px;
    }

    li {
      position: relative;
      height: 66px;
      display: inline-flex;
      align-items: center;
      margin: 0 60px;

      @include breakpoint($maxWidth: 992px) {
        height: auto;
        margin: 0 0 20px 0;
      }

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background: #B1B6FF;
        position: absolute;
        right: -62.5px;
        top: calc(50% -2.5px);
        border-radius: 50%;

        @include breakpoint($maxWidth: 992px) {
          display: none;
        }
      }

      &:last-child {
        &:before {
          display: none;
        }
      }

      &.active {
        border-bottom: 2px solid $yellow;

        a {
          color: $yellow;
        }
      }

      a {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
        transition: 0.5s;

        &:hover {
          color: $yellow;
        }
      }
    }
  }
}

.notifications {
  position: relative;
  margin-bottom: -8px;

  .icon {
    width: 20px;
    height: 22px;
    color: #fff;
    transition: 0.5s;
  }

  span {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    color: #FFFFFF;
  }

  &:hover {
    .icon {
      color: $yellow;
    }
  }
}

.logined {
  position: relative;
  cursor: pointer;
  padding-right: 20px;
  margin-left: 42px;


  // .logined__avatar

  &__avatar {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid $blue;

    &:before {
      content: "";
      width: 10px;
      height: 5px;
      background: url(../images/arrow-bottom.svg);
      position: absolute;
      right: -20px;
      top: calc(50% - 2.5px);
    }

    img {
      height: 32px;
      border-radius: 50%;
    }

  }
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  width: 210px;
  background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
  box-shadow: 0px 3px 21px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 2px;
  display: none;
  z-index: 99;

  &__content {
    padding: 25px;
    border-radius: 4px;
    background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
  }

  // .dropdown-menu__name

  &__name {
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 7px;
  }

  // .dropdown-menu__id

  &__id {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 20px;

    span {
      font-weight: 400;
    }
  }

  // .dropdown-menu__exit

  &__exit {}
}

.btn-create {
  margin-bottom: 30px;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 2px solid #63D0FF;
  box-sizing: border-box;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.21);
  border-radius: 3px;
  background-color: $blue;
  transition: 0.5s;
  padding: 0 30px;
  height: 29px;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: #58CDFF;
    border-color: #38ACFF;
  }

  &.disabled,
  &:disabled {
    background: #98A6AC;
    border: 2px solid #EBEBEB;
    pointer-events: none;
  }

  &--fixed {
    width: 150px;
    padding: 0;
  }

  &--full {
    width: 100%;
    padding: 0;
  }

  &--lg {
    height: 36px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &--xl {
    height: 56px;
    font-size: 16px;
  }

  &--empty {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $blue;
      border-color: #fff;
    }
  }
}

main {
  background: url(../images/main-bg.png) 50% 100% no-repeat;
  background-attachment: fixed;
  padding: 30px 0 50px 0;
  min-height: calc(100vh - 132px);
}


.main-content {
  display: flex;
  justify-content: space-between;

  aside {
    position: relative;
    width: 250px;

    @include breakpoint($maxWidth: 1200px) {
      width: 200px;
    }

    @include breakpoint($maxWidth: 992px) {
      display: none;
      width: 100%;
    }
  }
}

.side-menu {
  position: sticky;
  top: 20px;
  background: linear-gradient(212.21deg, #502CB7 2.83%, #2846B6 43.21%);
  border: 1px solid #3861FB;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;

  @include breakpoint($maxWidth: 992px) {
    position: relative;
    top: 0;
    border: 0;
    background: transparent;
    box-shadow: none;
    padding-top: 40px;
    border-radius: 0;
  }

  &:before {
    content: "";
    width: 48px;
    height: 2px;
    background: $yellow;
    position: absolute;
    top: 0;
    left: calc(50% - 24px);
    display: none;

    @include breakpoint($maxWidth: 992px) {
      display: block;
    }
  }
}

.menu-item {
  height: 125px;
  border-bottom: 1px solid #3861FB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @include breakpoint($maxWidth: 1200px) {
    height: 100px;
  }

  @include breakpoint($maxWidth: 992px) {
    height: auto;
    margin-bottom: 20px;
    border: 0;
  }

  &.active {
    &:before {
      content: "";
      width: 48px;
      height: 2px;
      background: $yellow;
      position: absolute;
      bottom: 0;
      left: calc(50% - 24px);
      display: block;

      @include breakpoint($maxWidth: 992px) {
        display: none;
      }
    }
  }

  &.active,
  &:hover {
    .menu-item__icon {
      border-color: $yellow;
      background: #5FA9FF;

      .icon {
        color: $yellow;
      }
    }

    .menu-item__title {
      color: $yellow;
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  &__icon {
    width: 46px;
    height: 46px;
    border: 2px solid #5FA9FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: 0.5s;

    @include breakpoint($maxWidth: 1200px) {
      margin-bottom: 10px;
    }

    @include breakpoint($maxWidth: 992px) {
      display: none;
    }

    .icon {
      color: #8BD5FF;
      transition: 0.5s;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.5s;
  }
}


.content {
  width: calc(100% - 276px);

  @include breakpoint($maxWidth: 1200px) {
    width: calc(100% - 230px);
  }

  @include breakpoint($maxWidth: 992px) {
    width: 100%;
  }
}



.profile-main {
  width: 100%;
  background: linear-gradient(216.68deg, #502CB7 -67.99%, #2846B6 94.28%);
  border: 1px solid #3861FB;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  margin-bottom: 25px;
  padding: 30px 48px 20px 40px;
  display: flex;
  justify-content: space-between;

  @include breakpoint($maxWidth: 767px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }

  // .profile-main__avatar
  &__left {
    width: 120px;
    height: 120px;
    position: relative;

    @include breakpoint($maxWidth: 767px) {
      margin-bottom: 20px;
    }
  }

  &__avatar {
    width: 120px;
    height: 120px;
    border: 1px solid #5FA9FF;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 3px;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  // .profile-main__avatar-image

  &__avatar-image {}

  // .profile-main__social

  &__social {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &:hover {
      background: $blue;

      .icon {
        color: #fff;
      }
    }

    .icon {
      width: 19px;
      height: 9px;
      color: #1478FC;
      transition: 0.5s;
    }

  }

  // .profile-main__content

  &__content {
    width: calc(100% - 165px);

    @include breakpoint($maxWidth: 767px) {
      width: 100%;
    }
  }

  // .profile-main__name

  &__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    display: block;
    color: #FFFFFF;

    @include breakpoint($maxWidth: 767px) {
      text-align: center;
      font-size: 16px;
    }
  }

  // .profile-main__nickname

  &__nickname {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    display: block;
    color: #FFFFFF;

    @include breakpoint($maxWidth: 767px) {
      text-align: center;
      font-size: 14px;
    }
  }

  // .profile-main__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
  }

  // .profile-main__btns

  &__btns {
    display: flex;

    @include breakpoint($maxWidth: 767px) {
      width: 100%;
      justify-content: center;
    }

    @include breakpoint($maxWidth: 374px) {
      flex-direction: column;
    }

    .btn {
      margin-right: 22px;
      margin-bottom: 10px;

      @include breakpoint($maxWidth: 767px) {
        margin: 0 10px 10px 10px;
      }

      @include breakpoint($maxWidth: 374px) {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }

  // .profile-main__dates

  &__dates {
    margin-bottom: 10px;

    @include breakpoint($maxWidth: 1200px) {
      display: flex;
      margin-bottom: 0;
      flex-wrap: wrap;
    }

    @include breakpoint($maxWidth: 767px) {
      text-align: center;
      justify-content: center;
    }
  }

  // .profile-main__date-item

  &__date-item {
    display: block;
    text-align: right;
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;

    @include breakpoint($maxWidth: 1200px) {
      text-align: left;
      margin-right: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      font-size: 14px;
      font-weight: 600;
      color: #fff;
    }
  }
}




.profile-accounts {
  background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
  border: 1px solid #3861FB;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  padding: 16px 40px 6px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @include breakpoint($maxWidth: 992px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  // .profile-accounts__title

  &__title {
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  // .profile-accounts__content

  &__content {
    display: flex;
    flex-wrap: wrap;

    &.center {
      justify-content: center;
    }
  }
}

.acccount-item {
  width: 51px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  margin-right: 16px;
  transition: 0.5s;
  margin-bottom: 10px;

  &:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  img {
    width: 22px;
    height: 22px;
  }
}

.add-account {
  font-weight: 800;
  font-size: 26px;
  height: 51px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  transition: 0.5s;

  &:hover {
    color: $yellow;
  }
}

























footer {
  background: linear-gradient(300.35deg, #6421A7 -23.75%, #314EBB 172.08%);
  border-top: 1px solid #3861FB;
}

.footer-content {
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;

  @include breakpoint($maxWidth: 992px) {
    height: auto;
    padding: 20px 0;

  }

  @include breakpoint($maxWidth: 767px) {
    flex-direction: column;
  }
}

.copy {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;

  @include breakpoint($maxWidth: 767px) {
    margin-bottom: 15px;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  @include breakpoint($maxWidth: 767px) {
    flex-direction: column;
  }

  a {
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    transition: 0.5s;

    &:hover {
      color: $yellow;
    }
  }

  .sep {
    display: block;
    width: 1px;
    height: 12px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 26px;

    @include breakpoint($maxWidth: 767px) {
      transform: rotate(-90deg);
      margin: 5px 0;
    }
  }
}


.game-systems {
  display: flex;
  justify-content: space-between;

  @include breakpoint($maxWidth: 767px) {
    flex-direction: column;
  }
}

.game-system {
  border-radius: 7px;
  width: calc(100%/3 - 22px);
  padding: 1px;
  background: linear-gradient(#3DD1FF 1.71%, #A839FF 94.24%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

  @include breakpoint($maxWidth: 1200px) {
    width: calc(100%/3 - 10px);
  }

  @include breakpoint($maxWidth: 767px) {
    width: 100%;
    margin-bottom: 20px;
  }

  &.active {
    p {
      display: none;
    }

    .game-system__stats {
      display: flex;
    }

    .game-system__status--active {
      display: flex;
    }
  }

  &.banned {
    padding: 0;
    border: 1px solid #3861FB;

    .game-system__status--banned {
      display: flex;
    }

    p {
      display: none;
    }

    .game-system__stats {
      display: flex;
    }
  }

  &.join {
    .game-system__status--join {
      display: flex;
    }

    .game-system__date {
      display: none;
    }
  }

  &__info {
    height: 220px;

    @include breakpoint($maxWidth: 767px) {
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__content {
    padding: 30px 20px;
    background: linear-gradient(223.25deg, #502CB7 1.71%, #2846B6 94.24%);
    border-radius: 6px;
    height: 100%;

  }

  // .game-system__logotype

  &__logotype {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    img {
      height: 75px;
    }
  }

  // .game-system__title

  &__title {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 20px;
    min-height: 45px;

    @include breakpoint($maxWidth: 767px) {
      min-height: auto;
    }
  }

  p {
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color: #FFFFFF;
    height: 153px;
    overflow: hidden;
    margin-bottom: 20px;

    @include breakpoint($maxWidth: 767px) {
      height: auto;
      text-align: center;
    }
  }

  // .game-system__stats

  &__stats {
    display: none;
    justify-content: center;
    margin-bottom: 50px;

    @include breakpoint($maxWidth: 767px) {
      margin-bottom: 20px;
    }
  }

  // .game-system__stat-item

  &__stat-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 15px;

    .icon {
      display: block;
      text-align: center;

      img {
        height: 38px;
      }
    }
  }

  // .game-system__stat-item-number

  &__stat-item-number {
    font-weight: 600;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
  }

  // .game-system__stat-item-title

  &__stat-item-title {
    display: block;
    font-weight: 500;
    font-size: 11px;
    color: #FFFFFF;
  }

  // .game-system__date

  &__date {
    font-size: 12px;
    color: #fff;
    display: block;
    text-align: center;
    margin-bottom: 20px;

    span {
      font-size: 14px;
      font-weight: 600;
      color: $yellow;
    }
  }

  // .game-system__status

  &__status {
    display: none;
    align-items: center;
    justify-content: center;

    &--active {
      color: #80FF45;
      font-weight: 600;
      font-size: 12px;
    }

    &--banned {
      color: #FF5353;
      font-weight: 600;
      font-size: 12px;

      .icon {
        top: -3px;
      }
    }

    &--join {
      font-weight: 600;
      font-size: 12px;
      color: $blue;

      .icon {
        font-weight: bold;
        font-size: 20px;
        top: 1px;
      }
    }

    .icon {
      position: relative;
      margin-right: 10px;
    }

  }

  // .game-system__btn

  &__btn {
    display: flex;
    justify-content: center;
  }
}



.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 23px;
  cursor: pointer;
  z-index: 111;
  margin-left: 20px;
  top: -4px;

  @include breakpoint($maxWidth: 992px) {
    display: block;
  }

  &.open {
    &:before {

      transform: rotate(-45deg);
      top: 14px;
      height: 4px;
    }

    &:after {

      top: 14px;
      transform: rotate(45deg);
      height: 4px;
    }

    span {
      &:before {
        display: none;
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 30px;
    height: 6px;
    background: #fff;
    transition: 0.5s;
    border-radius: 3px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 30px;
    height: 6px;
    background: #fff;
    transition: 0.5s;
    border-radius: 3px;
  }

  span {
    position: relative;
    display: block;
    width: 30px;
    height: 26px;

    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 30px;
      height: 6px;
      border-radius: 3px;
      background: #fff
    }
  }



}


.form-page {
  display: flex;
  padding: 10px;

  @include breakpoint($maxWidth: 992px) {
    flex-direction: column;
  }

  &__social {
    background: url(../images/dot.png) 0 0 repeat-x;
    padding-top: 30px;
    margin-top: 10px;
  }

  &__social-title {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 129.5%;
    color: #FFFFFF;
    margin-bottom: 30px;


  }

  button {
    margin-bottom: 30px;
  }

  // .form-page__left

  &__left {
    width: calc(100%/2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 20px);

    @include breakpoint($maxWidth: 992px) {
      height: auto;
      width: 100%;
      padding: 80px 30px;
      min-height: auto;
      max-height: auto;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:20px;

    .checkbox {
      margin-bottom: 10px;
    }
  }

  .forgot-password {
    font-weight: 400;
    font-size: 14px;
    line-height: 129.5%;
    color: #FFFFFF;
    text-decoration: underline;
    margin-bottom: 10px;
    &:hover{
      text-decoration: none;
    }
  }

  &__scroll {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 70px 30px;
    @include breakpoint($minWidth: 993px) {
      max-height: calc(100vh - 20px);
    }
    @include breakpoint($maxWidth: 992px) {
      height: auto;
      padding: 80px 30px;
    }
  }

  // .form-page__form

  &__form {
    width: calc(100%/2);
    height: 100%;
    background: linear-gradient(180.24deg, rgba(100, 33, 167, 0.8) 29%, rgba(52, 87, 217, 0.8) 115.77%);
    box-shadow: 0px 5px 33px rgba(0, 0, 0, 0.28);
    border-radius: 5px;
    min-height: calc(100vh - 20px);
    overflow: hidden;

    @include breakpoint($minWidth: 993px) {
      max-height: calc(100vh - 20px);
    }

    @include breakpoint($maxWidth: 992px) {
      height: auto;
      width: 100%;
      min-height: auto;
    }
  }


  // .form-page__logotypes

  &__logotypes {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }

  // .form-page__title

  &__title {
    font-weight: 600;
    font-size: 38px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint($maxWidth: 768px) {
      font-size: 24px;

    }
  }

  // .form-page__title-small

  &__title-small {
    font-size: 22px;
    color: #fff;
    text-align: center;

    @include breakpoint($maxWidth: 768px) {
      font-size: 16px;

    }
  }

  &__form-title {
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint($maxWidth: 768px) {
      font-size: 24px;

    }
  }

  &__form-title-small {
    font-weight: 500;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint($maxWidth: 768px) {
      font-size: 18px;

    }
  }
  &__form-title-sm {
    font-weight: 300;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;

    @include breakpoint($maxWidth: 768px) {
      font-size: 14px;

    }
  }
  &__content {
    max-width: 445px;
    width: 100%;
  }

  &__welcome {
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    text-align: center;
    margin-bottom: 22px;

    span {
      display: block;
      font-weight: 500;
      font-size: 24px;
      padding-top: 10px;
    }
  }
}

.back{
  display: inline-flex;
  align-items: center;
  font-weight: 400;
font-size: 14px;
line-height: 129.5%;
color: #FFFFFF;
.icon{
  position: relative;
  bottom: -1px;
  margin-right: 10px;
}
}
.logo-item {
  width: 105px;
  height: 112px;
  background: url(../images/border-logo.svg);
  background-size: 105px 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;

  @include breakpoint($maxWidth: 768px) {
    margin: 0 15px;
    width: 90px;
    background-size: 90px auto;
    height: 96px;

  }

  img {
    max-width: 90%;
    object-fit: contain;
  }
}

.form-group {
  margin-bottom: 28px;

  input {
    background: #F3F3F3;
    border-radius: 3px;
    width: 100%;
    height: 56px;
    font-weight: 500;
    font-size: 18px;
    color: #1D1D1D;
    padding: 0 22px;
    border: 0;
    transition: 0.5s;

    &:focus {
      background: #fff;
    }
  }

  .field-icon {
    float: right;
    position: absolute;
    right: 20px;
    top: calc(50% - 8px);
    cursor: pointer;
    z-index: 2;

    svg {
      width: 23px;
      height: 16px;
      color: rgba(108, 62, 184, 1);

    }

    &.toggle-password {
      svg {
        color: rgba(133, 133, 133, 1);
      }
    }
  }

  .password {
    position: relative;

    input {
      padding-right: 45px;
    }
  }

  label {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 5px;
  }
}


.checkbox {
  margin-bottom: 20px;
  display: flex;

  a {
    color: #3761AA;


    &:hover {
      text-decoration: underline;
    }
  }

  [type="checkbox"] {

    &:not(:checked),
    &:checked {
      position: absolute;
      left: 0;
      opacity: 0.01;
    }

    &:not(:checked)+label,
    &:checked+label {
      position: relative;
      padding-left: 33px;
      font-weight: 400;
      font-size: 14px;
      line-height: 129.5%;
      color: #FFFFFF;
      cursor: pointer;
    }

    &:not(:checked)+label:before,
    &:checked+label:before {
      content: '';
      position: absolute;
      left: 0;
      top: -3px;
      width: 24px;
      height: 24px;
      border: 2px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 3px;
      background: transparent;

      -webkit-transition: all .275s;
      transition: all .275s;
      border-radius: 3px;
    }

    &:not(:checked)+label:after,
    &:checked+label:after {
      content: '';
      position: absolute;
      top: -3px;
      left: 0;
      width: 24px;
      height: 24px;
      background: #fff url(../images/check.svg) 50% 50% no-repeat;
      -webkit-transition: all .2s;
      transition: all .2s;
      border-radius: 3px;
    }

    &:not(:checked)+label:after {
      opacity: 0;

    }

    &:checked+label:after {
      opacity: 1;

    }




  }


}

.mCSB_scrollTools {
  top: 10px;
  height: calc(100% - 20px);

  @include breakpoint($maxWidth: 992px) {
    display: none !important;
  }
}